/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.contenedor{

  width:100%;
  background-color:tra;

  
}


.fondo{

  background-position: bottom center;
  background-image:url('../media/pexels-sam-lion-5709661\ \(1\).jpg') !important;
}


